# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/

test/*

#Folder
controllers/authController.ts
middleware/authMiddleware.ts
routes/authRoute.ts
models/userModel.ts

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.test
.env.production

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
